/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61976754b610a07d5711d75d.619767566bdd592eb60575a1.qSO03xs.hcp.png");
@font-face {
  font-family: "YuGothic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/YuGothic-Bold.otf") format("opentype");
}


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

* {
  box-sizing: border-box;
}
